<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles/goto.css">
    <title></title>
</head>
<body>
    <main class='container'>
        <header class="container__header">Nekrologia Profesorów Uczelni Leśnych</header>
        <div class='container__content'>
            <header class="panel__header">Wybierz miasto z którego profesorów chcesz wyszukać: </header>
            <div class="panel__container">
                <div class='panel__tile'>
                    <a href='index?city={{ quote("Poznań") }}' class='panel__link'>
                        <img src="images/up_poz.png" title="Poznań" width="160" />
                        <span>Poznań</span>
                    </a>
                </div>
            </div>
        </div>
        <footer class="container__footer"></footer>
    </div>
</body>
</html>