<div id='aboutPage' class='modal__container'>
    <section class="modal__content">
        <header class='modal__header'>
<!--
            <ul class="modal__header--nav">
                <li class="nav__item active">
                    <a href="#o_stronie" data-target="o_stronie">O stronie</a>
                </li>
                <li class="nav__item">
                    <a href="#o_autorach" data-target="o_autorach">O autorach</a>
                </li>
            </ul> -->
                <div class="nav__item">
                    <a class="tab__control nav__header--button" href="#o_stronie" data-target="o_stronie">O stronie</a>    
                </div>
                <div class="nav__item">
                    <a class="tab__control nav__header--button" href="#o_autorach" data-target="o_autorach">O autorach</a>    
                </div>
                <div class="nav__item--close">
                    <a class="nav__header--button modal__button--close" id="aboutPageClose" href='#'>&times;</a>
                </div>
            </header><!-- modal-header -->

        <section class="modal__body">
            <section class='tab-content' id="tabContent">
                <div id="o_stronie" class="tab__panel active">
                    <h2 class="centered">Drogi użytkowniku</h2>
                    <p class="tab__panel--para">
                        Aplikacja została stworzona z myślą o absolwentach i studentach Wydziału Leśnego w Poznaniu. Mamy nadzieję że nasza praca
                        będzie pomocnym narzędziem do budowy pamięci i szacunku dla naszych zmarłych wykładowców. Wszelkie
                        biografie pochodzą z
                        <span class="citation">,,Zeszytu Jubileuszowego Wydziału Leśnego”</span> pod redakcją prof. zw. dr
                        hab. Zefiryna Adamskiego. W aplikacji zostały wykorzystane również materiały z zasobów prywatnych
                        dr hab. Jarosława Szabana. W razie problemów pomoc techniczną można uzyskać pod numerem telefonu
                        723 039 944.
                    </p>
                    <div id="logo" class="logo__container">
                        <div class="logo__wrapper" id="logo-wles">
                            <img src="images/wles.png">
                        </div>
                        <div class="logo__wrapper" id="logo-up">
                            <img src="images/up_poz.png">
                        </div>
                        <div class="logo__wrapper" id="logo-sekcji">
                            <img src="images/sekcja.png">
                        </div>
                    </div>
                    <!--
                            <img src="logo_wl.jpg"/>
                            <img src="logo_kl.jpg"/>
                            -->
                </div>
                <div id="o_autorach" class="tab__panel">
                    <div>
                        <p class="tab__panel--para">Na stronie wykorzystano opisy z
                            <span class="citation">"Zeszytu Jubileuszowego Wydziału Leśnego"</span> pod redakcją prof. zw.
                            dr hab. Zefiryna Adamskiego. Chcielibyśmy szczególnie podziękować autorom opisów zamieszczonych
                            na tejże witrynie
                        </p>
                        <ul>
                            <li>prof. nadzw. dr hab. inż. Bogusław Kamiński</li>
                            <li>prof. zw. dr hab. Małgorzata Mańka</li>
                            <li>dr hab. Władysław Danielewicz</li>
                        </ul>
                    </div>
                    <div>
                        <p  class="tab__panel--para">Przygotowanie strony</p>
                        <ul>
                            <li>Sekcja Historii Leśnictwa Koła Leśników Uniwersytetu Przyrodniczego w Poznaniu
                                <ul>
                                    <li>Opiekun sekcji:
                                        <b>Dr hab. Jarosław Szaban</b>
                                    </li>
                                    <li>Konrad Kupajczyk</li>
                                    <li>Mateusz Wiśniewski</li>
                                    <li>Paweł Ramik</li>
                                    <li>Dariusz Stencel</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p  class="tab__panel--para">Projekt strony</p>
                        <ul>
                            <li>
                                <a href="mailto:mrybicki.95@gmail.com">Michał Rybicki</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

        </section>
 
        <footer class="modal__footer">
        </footer>
    </section>
</div>