<section class='container-fluid'>
        <ul>
            <li><a id='show-on-google' href="#">Pokaż na mapach Google</a></li>
            <li><a id='close-descr' href="#" onclick="rightSidebar.hide();">Zamknij opis</a></li>
    <!--                <li><a id='print-plan' href="#">Drukuj plan cmentarza</a></li> -->
        </ul>
    </section>
    <section class="sidebar-content">
        <section id="name"></section>
        <section class="panel-group">
            <div class="panel panel-default">
              <div class='panel-heading'>Data urodzenia</div>  
              <div id="of-birth" class="panel-body"></div>
            </div>
            <div class="panel panel-default">
                <div class='panel-heading'>Data śmierci</div>      
                <div id='of-death' class="panel-body"></div>
            </div>
        </section>
        <section id="person-descr">
        </section>
    </section>