<section class='right__topbar'>
    <ul>
        <li>
            <a id='show-on-google' href="#">Pokaż na mapach Google</a>
        </li>
        <li>
            <a id='close-descr' href="#" onclick="rightSidebar.hide();">Zamknij opis</a>
        </li>
        <li>
            <a id='print-plan' href="#">Drukuj plan cmentarza</a>
        </li>
    </ul>
</section>
<section class="sidebar-content description">
    <h2 class="description__fullname" id="fullName"></h2>

    <table>
        <tr>
            <td class="cell__heading">
                Data urodzenia
            </td>
        </tr>
        <tr>
            <td class="cell__value" id='dateOfBirth'></td>
        </tr>
        <tr>
            <td class="cell__heading">Data śmierci</td>
        </tr>
        <tr>
            <td class="cell__value" id='dateOfDeath'></td>
        </tr>
        <tr>
            <td class="cell__heading">Miasto</td>
        </tr>
        <tr>
            <td class="cell__value" id="city"></td>
        </tr>
        <tr>
            <td class="cell__heading">Cmentarz</td>
        </tr>
        <tr>
            <td class="cell__value" id="cementaryName"></td>
        </tr>
    </table>
    <section class="person__description" id="personDescription">
    </section>
</section>