<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/panel.css" type="text/css"/>
    <title>Panel sterowania</title>
</head>
<body>
    <main class='container'>
        <aside class='sidebar'>
            <section class="sidebar__group">
                <section class='sidebar__group--header activity__toggle' id='openAdminGroupToggle' data-target='adminSidebarGroup'>
                    <span class='sidebar__group--name'>Administacja</span>
                    <span class='icon__expand'>&#x2228;</span>
                </section>
                <section class='sidebar__group--content' id='adminSidebarGroup'>
                    <section class='sidebar__item' id='metadataOpenner' data-target='adminUserPanel'>Użytkownicy</section>
                </section>
            </section>
            <section class="sidebar__group">
                <section class='sidebar__group--header activity__toggle' id='openGroupToggle' data-target='sidebarGroup'>
                    <span class='sidebar__group--name'>Dodaj grób</span>
                    <span class='icon__expand'>&#x2228;</span>
                </section>
                <section class='sidebar__group--content' id='sidebarGroup'>
                    <section class='sidebar__item' id='metadataOpenner' data-target='metadataPanel'>Metadane</section>
                    <section class='sidebar__item' id='editorOpenner' data-target='editorPanel'>Edytor</section>
                </section>
            </section>
            <section class='sidebar__item' id='cementaryOpenner' data-target='cementaryPanel'>Dodaj cmentarz</section>
        </aside>    
        <section class='panel__container'>
            <section class='panel__item' id='adminUserPanel'>
                <section class='panel__inside'>
                <table class='users__table'> 
                    <thead>
                        <tr>
                            <th>Nazwa użytkownika</th>
                            <th>Email</th>
                            <th>Admin</th>
                            <th>Aktywne</th>
                            <th>Usuń</th>
                            <th>Edytuj</tr>                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{user['username']}}</td>
                            <td>{{user['email']}}</td>
                            <td>{% if user['admin_permit'] == 1 %}<span class='yes'>Y</span>{% else %}<span class='no'>N</span>{% endif %}</td>
                            <td>{% if user['activated'] == 1 %}<span class='yes'>Y</span>{% else %}<span class='no'>N</span>{% endif %}</td>
                            <td><button class='remove-button' data-target="{{user['id']}}">Usuń</button></td>
                            <td><button class='edit-button' data-target="{{user['id']}}">Edytuj</button></td>                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            </section>
            <section class='panel__item' id='metadataPanel'>
                <form class='panel__form'>
                    <fieldset class='panel__block'>
                        <legend>Imię i nazwisko:</legend>
                        <input type="text" name="first_name" id='meta-first-name' />
                        <input type="text" name="second_name" id='meta-second-name' />
                    </fieldset>
                    <fieldset  class='panel__block'>
                        <legend>Data i miejsce urodzenia:</legend>
                        <input type="text" name="birth" id='meta-birth' />
                        <input type="text" name="birth-city" id='meta-birth-city' />
                    </fieldset>
                    <fieldset  class='panel__block'>
                        <legend>Data i miejsce śmierci:</legend>
                        <input type="text" name="death" id='meta-death' />
                        <input type="text" name="death-city" id='meta-birth-city' />
                    </fieldset>
                    <fieldset class='panel__block'>
                        <label for="age">Wiek:</label>
                        <input type="text" name="age" id='meta-age' />
                    </fieldset>
                    <fieldset class='panel__block'>
                        <legend>GPS:</legend>
                        <input type="text" name="gps-w" id='meta-gps-width' />
                        <input type="text" name="gps-h" id='meta-gps-height' />
                    </fieldset>
                    <div class='panel__block'>
                        <label for="university">Uniwersytet</label>
                        <select name='university'></select>
                    </div>
                    <div class='panel__block'>
                        <label for="graveyard">Cmentarz</label>
                        <select name='graveyard'></select>
                        <button id='add-graveyard' class='panel__button--add'>Dodaj cmentarz</button>
                    </div>
                    <div class='panel__block'>
                        <button class='panel__button--save'>Zapisz</button>
                        <button class='panel__button--warn'>Anuluj</button>
                    </div>
                </form>
            </section> <!-- section#metadataPanel -->
            <section class="panel__item" id="editorPanel">
                <section class='editor' id="editor">
                    <section class='editor__input' id='editorInput'>
                        
                    </section>
                    <section class='editor__preview' id='editorPreview'>

                    </section>
                </section>
                <section class='editor__bar'>
                    <button id='editorLoadPreview' class='panel__button--info'>Podgląd</button>    
                </section>
            </section> <!-- section#editorPanel -->
            <section class='panel__item' id='cementaryPanel'>

            </section>
        </section>
    </main>
    <!-- left sidebar --> 
    <!-- content -->
    <!-- -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="src/panel.js"></script>
</body>
</html>