<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles/trumbowyg.min.css" text="text/css" />
    
    <link rel="stylesheet" href="styles/panel.css" type="text/css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand">Panel administracyjny</span>
        <section class="dropdown float-right nav__usermenu">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="userMenuBtn" data-toggle="dropdown">Użytkownik</button>
            <div class="dropdown-menu">
                <a href="#" id='userMenu_logout' class="dropdown-item">Wyloguj</a>
                <a href="#" id='userMenu_manageAccount' class="dropdown-item">Zarządzaj kontem</a>
            </div>
        </section>
    </nav>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-2 bg-light sidebar__container">
                <nav id="sidebar">
                    <ul class="components list-unstyled sidebar__main">
                        <li class="active sidebar__group">
                            <a href="#subMenuAccounts" data-toggle="collapse" class="dropdown-toggle">Konta</a>
                            <ul class="list-group collapse list-unstyled sidebar__sub" role="tablist" id="subMenuAccounts">
                                <li class="sidebar__item">
                                    <a  href="#manageAccounts" >Zarządaj kontami</a>
                                </li>
                                <li class="sidebar__item">
                                    <a  href="#tabMyAccount" >Moje konto</a>
                                </li>
                            </ul>
                        </li> <!-- #subMenuAccounts.sidebar__group -->
                        <li class="active sidebar__group">
                            <a href="#subMenuManageGrave" data-toggle="collapse" class="dropdown-toggle">Groby</a>
                            <ul class="list-group collapse list-unstyled sidebar__sub" role="tablist" id="subMenuManageGrave">
                                <li class="sidebar__item">
                                    <a  href="#ManageGraves">Zarządzaj grobami</a>
                                </li>        
                                <li class="sidebar__item">
                                    <a  href="#AddGrave" >Dodaj nowy grób</a>
                                </li>
                                <li class="sidebar__item">
                                    <a  href="#AddGraveDescr">Edytor opisów</a>
                                </li>
                                <li class="sidebar__item">
                                    <a  href="#Files">Dodaj zdjęcia</a>
                                </li>
                            </ul>

                        </li> <!-- #subMenuManageGrave.sidebar__group -->
                        <li class="active sidebar__group">
                            <a href="#subMenuManageGraveyard" data-toggle="collapse" role="tablist" class="dropdown-toggle">Cmentarze</a>
                            <ul class="list-group collapse list-unstyled sidebar__sub" id="subMenuManageGraveyard">
                                <li class="sidebar__item">
                                    <a  href="#ManageGraveyards">Zarządzaj cmentarzami</a>
                                </li>
                            </ul>
                        </li> <!-- #subMenuManageGraveyard.sidebar__group -->
                    </ul>
                </nav>
            </div> <!-- .sidebar__container -->
            <main class="panel__container tab-content">
                <div class="tab-pane show active fade" role="tabpanel" id="manageAccounts">{% include "panel/manageAccounts_.html" %}</div>
                <div class="tab-pane" id="tabMyAccount">{% include "panel/tabMyAccount_.html" %}</div>
                <div class="tab-pane" id="ManageGraves">{% include "panel/manageGraves_.html" %}</div>
                <div class="tab-pane" id="AddGrave">{% include "panel/addGrave_.html" %}</div>
                <div class="tab-pane" id="AddGraveDescr">{% include "panel/addGraveDescr_.html" %}</div>
                <div class="tab-pane" id="ManageGraveyards">{% include "panel/manageGraveyards_.html" %}</div>
            {#  <div class="tab-pane" id="Files">Dodaj pliki</div> #}
            </main>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="src/external/trumbowyg.min.js"></script>
    <script src="src/panel.js"></script>
</body>

</html>