* {
    box-sizing: border-box;
}

.container {
    position: fixed;
    left: 0;
    top: 0;
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.container__header, .container__footer {
    height: 5em;
    background-color: forestgreen;
    width: 100%;
}

.container__content {
    height: 85%;
    background: #eee;
}

.panel__container {
    display: flex;
    flex-direction: row;
}

.panel__tile {
    background: white;
    width: 180px;
    height: 180px;
    box-shadow: 0px 0px 10px #ccc; 
}

.panel__text {
    text-align: center;
}
