html, body {
    height: 100%;
}

.nav__usermenu {
    padding-right: 2em;
}


.dropdown-toggle::after {
    float: right;
    display: block;
    margin-top: 10px;
}

.sidebar__item {
    padding: 10px 20px;
}

.sidebar__group {
    padding: 15px 5px;
}

.panel__container {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.panel__header {
    height: 2em;
    color: white;
    font-size: 15pt;
    padding: 5px 5em;
}

.panel__body .row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.yes {
    display: inline-block;
    background: green;
    color: white;
    font-size: 13pt;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;
}


.no {
    display: inline-block;
    background: red;
    color: white;
    font-size: 13pt;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.panel__form {
    padding: 10px;
}

.form__group {
    border: 1px solid #dee2e6;
    padding: 5px;
    margin: 5px;
}