<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="styles/goto.html">
    <title></title>
</head>
<body>
    <main class='container'>
        <div class='container__'>
            <header>Wybierz uniwersytet: </header>
            <div class="panel__container">
                <div class='panel__tile'>
                    <a href='index.html&university={{uni['id']}}'>
                    <img class='panel__icon' src="img/logo_{{uni['id']}}.png"/>
                    <p>{{uni['name']}}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>